.likes,
.dislikes {
   background:#f5df55 ;
   color: #4800ff;
   cursor: pointer;
   display: inline-block;
   font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,1,0.2);
   transition: background 100ms;
}

.likes:hover{
 color: #F65A5B ;
   background:#4cff00;
   transition: background 500ms;
}

.dislikes:hover{
color: #F65A5B ;
   background:#f00;
   transition: background 500ms;
    
}

.thumbnail {
    min-height: 500px;
    max-height: 500px; 
}

.thumbnail-img{
    max-height:300px;
}